body{
    background-color: #fffbf7;
}
.fixed-header{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    
}
.header {
    /* Margin: top-bottom right-left */
    margin: 40px 20px 0 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
    /* Centrar todo */
    display: flex;
    justify-content: center;
    align-items: center;
}
header *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 45px;
}
.logo {
    width: 15%;
}
.logo > img {
    height: 100%;
}

.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: bolder;
    /* Va más con el espacio de palabras entre párrafos, no en hijos 
    word-spacing: 50px; */
}

.menu-item {
    display: inline;
    margin: 0 25px;
}
.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
.actions * {
    margin: 0 10px;
}
.actions a{
    color: #67b54b;
}
.bt-start {
    padding: 12px 14px;
    width: max-content;
    color: #ffffff;
    background-color: #67b54b;
    border: 0;
    border-radius: 5px;
} 
h1{
    margin: 50px 20px;
    color: aqua;
    background-color:black;
}
h2{
    color: #46484c;
}
strong{
    color: #8b8b8bcc;
}
p{
    width: 50%;
    text-align: justify;
}
button{
    color: #fff;
    background-color: #025157;
}

.video-add {
    position: relative;
    top: 150px;
    display: flex;
    padding: 0 50px;
    justify-content: space-around;
    color: #025157;

}
.video-media {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.video-media video {
    width: 100%;
    height: auto;
    margin: 10px;
}
.video-media img {
    width: 60%;
    height: auto;
    margin: 10px;
}
.video-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: max-content;
    padding: 0 25px;
}
.video-description h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.video-description p {
    width: 100%;
    color: #343434;
}
.sponsored {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
}